@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-fundo-efai: #FAF8ED;
    --cor-detalhes: #F4CA5F;
    --cor-vermelho: #F26958;
    --cor-azul: #0047FF;
    --cor-texto: #222;
}

body {
    font-family: 'Saira', sans-serif;
    background-color: var(--cor-fundo-efai);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

body.modo-resultado {
    justify-content: flex-start;
    padding-top: 5%;
}

h1, h2, button {
    text-transform: uppercase;
}

h1 {
    font-size: 26px;
    color: var(--cor-vermelho);
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
    color: var(--cor-texto);
}

.card {
    background-color: white;
    border-radius: 30px;
    padding: 40px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    max-width: 780px;
    height: 80%;
    width: 95%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Botões circulares */
.botao-circular {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.sortear-btn {
    background-color: var(--cor-azul);
}

.ouvir-btn {
    background-color: var(--cor-vermelho);
}

.resultado {
    padding: 30px 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    max-width: 700px;
    width: 90%;
}

.resultado h2 {
    font-size: 14px;
    color: #222;
    font-weight: 700;
    margin-bottom: 10px;
}

.historia {
    font-size: 24px;
    font-weight: 400;
    color: #222;
    margin-bottom: 90px;
    text-align: center;
}

.forma {
    font-size: 22px;
    font-weight: 700;
    color: #222;
    text-align: center;
    margin-bottom: 20px;
}

.forma .emoji {
    font-size: 32px;
    margin-bottom: 5px;
}

/* Botão container (linha com 2 botões) */
.botoes-acao {
    display: flex;
    justify-content: center;
    gap: 50%;
    margin-top: 20px;
}

/* Oculta se necessário */
.oculto {
    display: none !important;
}

/* Rodapé do site */
.disclaimer {
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    color: #222;
    max-width: 600px;
    text-align: center;
    margin: 40px auto 20px;
    line-height: 1.5;
}

